 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 271px;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 219px;
  margin: 26px 41px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 701px;
  height: 133px;
  margin: -176px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 17px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-2 {
    height: 64px;
    margin-top: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2123px;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 600px;
  margin: 48px 54px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -588px auto 0 191px;
}

.u-section-2 .u-image-2 {
  width: 427px;
  height: 427px;
  background-image: url("images/RIOLO0583-012.jpeg");
  background-position: 50% 50%;
  margin: 109px auto 0 109px;
}

.u-section-2 .u-image-3 {
  width: 450px;
  height: 600px;
  margin: 121px auto 0 87px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: -600px 99px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 427px;
  height: 427px;
  background-image: url("images/RIOLO0570-012.jpeg");
  background-position: 50% 50%;
  margin: 116px 66px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 121px 594px 0 99px;
}

.u-section-2 .u-image-5 {
  width: 450px;
  height: 600px;
  margin: -52px 64px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 427px;
  height: 427px;
  background-image: url("images/RIOLO0617-012.jpeg");
  background-position: 50% 50%;
  margin: -427px auto 38px 110px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2145px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 117px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 43px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 132px;
    margin-right: 504px;
    margin-left: 14px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -104px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-bottom: 52px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3528px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 99px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -671px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 627px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -660px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 652px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 447px;
    margin-top: 683px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -691px;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 135px;
    margin-left: auto;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3576px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -672px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 628px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 137px;
  }

  .u-section-2 .u-text-2 {
    width: 361px;
    margin-top: -698px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 672px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 671px;
    margin-right: 54px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -678px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 122px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2730px;
  }

  .u-section-2 .u-image-1 {
    height: 453px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -525px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 501px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 453px;
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -498px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 474px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 535px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 453px;
    margin-top: -512px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 79px;
    margin-bottom: 28px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 52px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 380px;
  object-position: 50% 34.33%;
  margin: -380px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 4px auto 0;
}

.u-section-3 .u-image-3 {
  width: 570px;
  height: 380px;
  margin: 12px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 380px;
  object-position: 0% 25.68%;
  margin: -380px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -216px;
    margin-left: 103px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 164px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1887px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1812px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 360px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 360px;
    margin-top: 25px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-3 .u-image-1 {
    height: 227px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 227px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-3 .u-image-3 {
    height: 227px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    height: 227px;
    margin-top: 14px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 802px;
}

.u-section-4 .u-image-1 {
  width: 450px;
  height: 600px;
  margin: 58px 66px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -567px auto 0 133px;
}

.u-section-4 .u-image-2 {
  width: 426px;
  height: 426px;
  background-image: url("images/RIOLO0576-012.jpeg");
  background-position: 50% 50%;
  margin: 91px auto 60px 91px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -574px;
    margin-left: 39px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 96px;
    margin-bottom: 59px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 150px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -701px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 673px;
    margin-left: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -695px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 668px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-4 .u-image-1 {
    height: 453px;
    margin-top: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -498px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 502px;
    margin-bottom: 39px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1507px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 67px auto 0;
}

.u-section-5 .u-image-1 {
  width: 450px;
  height: 600px;
  margin: 34px auto 0 101px;
}

.u-section-5 .u-image-2 {
  width: 450px;
  height: 600px;
  margin: -377px 38px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 450px;
  height: 600px;
  margin: -103px auto 0 101px;
}

.u-section-5 .u-image-4 {
  width: 427px;
  height: 427px;
  background-image: url("images/RIOLO0601-012.jpeg");
  background-position: 50% 50%;
  margin: -427px 49px 34px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -600px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -513px;
    margin-right: 12px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2473px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 56px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2456px;
  }

  .u-section-5 .u-image-4 {
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 453px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 453px;
  }

  .u-section-5 .u-image-3 {
    height: 453px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 19px;
    margin-bottom: 38px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 492px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 285px;
  margin: 91px 43px 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: -217px 656px 0 16px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 172px 0 12px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 61px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 270px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 47px;
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 170px;
  }
}