.u-section-1 .u-sheet-1 {
  min-height: 271px;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 234px;
  margin: 19px 120px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -150px auto 60px 226px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-bottom: 200px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 147px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-1 {
    margin: -605px 218px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    height: 180px;
    width: 262px;
    margin-top: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -242px;
  }
} .u-section-2 {
  background-image: url("images/droneriolo3.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 233px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 296px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 91px 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 48px;
    margin-bottom: 48px;
  }
} .u-section-4 {
  background-image: url("images/iON.2.JPG");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 671px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 248px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 385px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px auto;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}